.my-alert {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.my-alert p {
  margin-bottom: 0;
}
// .my-alert2 {
//   @extend .my-alert;
//   background-color: antiquewhite;
// }
